FORGE1.7.10PREPARED.zip
.gradle/
.settings/
.classpath
.project
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
gradlew
gradlew.bat
forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
gradle/
bin/
eclipse/.metadata/
eclipse/saves/Anthropy/
eclipse/saves/NEI/
eclipse/.recommenders/
